section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.social {
    text-align: center;
    font-size: 40px;
    padding: 6px 12px;
}
.social li {
    display: inline-block;
    margin: 0 auto;
}
.about {
    text-align: justify;
}
.about h1 {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
    padding: 20px;
}
.about p {
    margin-top: 24px;
    font-size: 24px;
    line-height: 40px;
}
.about h2 {
    font-size: 36px;
}
.about p,
section {
    margin-bottom: 30px;
}
.about a:hover {
    text-decoration: underline;
}
.social li a i:hover {
    color: rgb(255, 230, 0);
    transition: 0.5s;
}
.spacer {
    height: 200px;
}

@media (min-width: 350px) {
    .social li {
        display: inline-block;
        margin: 0 5px;
    }

}
@media (max-width: 901px) {
    .about p {
        font-size: 18px;
    }
    .about h2 {
        font-size: 32px;
    }
}